#countdown h3 {
    /* color: #0C0E38; */
    color: #fff;
}

#countdown small {
    /* color: #E84339; */
    color: #afaeae;
}

@media only screen and (max-width: 600px) {

    #countdown h3 {
        font-size: 15px !important;
    }

    #countdown small {
        font-size: 12px !important;
    }

}