@media only screen and (max-width: 600px) {
    .container {
        padding: 0 10px !important;
    }

    #navbarNav ul {
        padding: 20px 0;
        height: 100vh;
        display: list-item;
    }

    #navbar ul li {
        padding: 10px 0;
        border-bottom: 2px solid #dedede;
    }

    p {
        font-size: 15px;
    }

    #home {
        height: 100vh;
    }

    h3 {
        font-size: 1.2em;
    }

    h4 {
        font-size: 1.1em;
    }

    h5 {
        font-size: 1em;
    }

    .asset-1 {
        position: absolute;
        top: -2vh;
        left: -5vh;
        width: 40%;
    }

    .asset-2 {
        position: absolute;
        bottom: -2vh;
        left: -5vh;
        width: 40%;
    }

    .asset-3 {
        position: absolute;
        top: -3vh;
        right: -5vh;
        width: 40%;
    }

    .asset-4 {
        position: absolute;
        bottom: -2vh;
        right: -5vh;
        width: 40%;
    }

    .home-subtitle {
        font-size: .8em !important;
    }

    .btn-eduall {
        background: rgb(241, 133, 62);
        background: linear-gradient(90deg, rgba(241, 133, 62, 1) 0%, rgba(235, 87, 59, 1) 35%, rgba(232, 62, 57, 1) 100%);
        color: #fff !important;
        font-size: .9em;
    }

    .box-skill {
        height: 150px;
    }

    .box-title {
        font-size: 12px;
        line-height: 1;
    }

    .events-list {
        font-size: 13px !important;
    }

    .project-title {
        font-size: 1.5em;
    }

    .form-embed {
        height: 60vh;
    }

    #maps {
        height: auto;
    }

    .maps-asset {
        position: relative;
        padding: 20px;
        height: 50vh;
        width: 100%;
        overflow: scroll;
        background: #0a0c31;
        border-radius: 20px;
    }

    .maps-1 {
        width: 300px !important;
        top:80px;
        left: 20px;
    }

    .maps1-overflow {
        position: absolute;
        cursor: pointer;
        width: 200px;
        height: 130px;
        /* background: rgba(255, 255, 255, 0.775); */
        top: 150px;
        left: 50px;
    }

    .maps-2 {
        width: 260px !important;
        top:0;
        left: 195px;
    }

    .maps2-overflow {
        position: absolute;
        cursor: pointer;
        width: 200px;
        height: 130px;
        /* background: rgba(255, 255, 255, 0.775); */
        top: 90px;
        left: 190px;
    }

    .maps-3 {
        width: 450px !important;
        top:50px;
        left: 200px;
        z-index: 3;
    }

    .badge-maps {
        width: 25px !important;
        height: 25px !important;
        padding: 0 !important;
    }

    .list-maps div {
        margin-bottom: 10px;
        font-size: 14px;
    }

    .list-maps div b {
        width: 25% !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    
    .list-maps div p {
        width: 75% !important;
        margin: 0;
        padding: 0;
        font-size: .9em !important;
    }
        

    #supported-by {
        height: auto;
    }

    .bronze .col {
        height: auto;
    }

    .silver .col {
        padding: 0 10px;
    }

    .w-md-100 {
        width: 50%;
    }

    .stem-frame {
        top: -15%;
        left: 5%;
        width: 90%;
    }

    .stem-box {
        height: 250px;
    }

    .stem-title {
        font-size: .9em;
    }
}