@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

@font-face {
    font-family: 'nulshock';
    src: url('/assets/font/nulshock-bd.otf');
    font-display: swap;
}

html {
    scroll-behavior: smooth;
  }

body, p {
    font-family: 'Roboto', sans-serif !important;
}

.font-nulshock {
    font-family: 'nulshock';
}

p {
    font-size: 20px;
}

p span {
    color: #FA6D40;
}

.navbar {
    margin-top: -100vh;
    transition: ease-in-out;
    transition-duration: 1s;
}

.navbar.active {
    margin-top: 0;
}

.nav-eduall {
    color: white;
}

.makerspace-content p b {
    color: #FA6D40;
}

.bg-orange {
    background: #FF7701;
}

.bg-pink {
    background: #FF0D76;
}

.bg-blue {
    background: #0000FF;
}

.bg-green {
    background: #13E513;
}

.bg-eduall {
    background: #0c0f38 !important;
    color: white !important;
}

.bg-eduall-secondary {
    background: rgb(241, 133, 62);
    background: linear-gradient(90deg, rgba(241, 133, 62, 1) 0%, rgba(235, 87, 59, 1) 35%, rgba(232, 62, 57, 1) 100%);
    color: #fff;
}

.btn-eduall {
    background: rgb(241, 133, 62);
    background: linear-gradient(90deg, rgba(241, 133, 62, 1) 0%, rgba(235, 87, 59, 1) 35%, rgba(232, 62, 57, 1) 100%);
    color: #fff !important;
    font-size: 1.2em;
    cursor: auto !important;
}

.img-banner {
    width: 20%;
}

.asset-1 {
    position: absolute;
    top: -5vh;
    left: -13vh;
}

.asset-2 {
    position: absolute;
    bottom: -10vh;
    left: -15vh;
}

.asset-3 {
    position: absolute;
    top: -10vh;
    right: -10vh;
}

.asset-4 {
    position: absolute;
    bottom: -10vh;
    right: -10vh;
}

#home {
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

#nav-banner .nav-item a:hover,
#nav-banner .nav-item a:focus,
.nav-item a:hover,
.nav-item a:focus {
    color: rgb(225, 135, 38);
}


#what-is-makerspace {
    height: auto;
    scroll-margin-top: 10vh;
}

#events {
    scroll-margin-top: 8vh;
}

.box-skill {
    height: 250px;
    position: relative;
    overflow: hidden;
}

.box-image {
    display: flex;
    justify-content: center;
    height: 100%;
}

.box-image img {
    object-fit: cover;
    object-position: bottom;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.box-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    background: #ffffffcc;
    border-radius: 15px;
    color: #0c0f38;
}

.box-skill:hover .box-image img {
    transform: scale(1.1);
}

.cursor-pointer {
    cursor: pointer;
}

.events-box {
    padding: 40px 0;
    background: #0c0f38;
}

.events-list {
    color: white;
    font-size: 20px;
    padding: 5px 20px 7px 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.border-orange {
    border: 1px solid #FF7701;
    transition: all .5s ease-in-out;
}

.border-orange:hover {
    background: #FF7701;
    color: white;
}

.border-green {
    border: 1px solid #13E513;
    transition: all .5s ease-in-out;
}

.border-green:hover {
    background: #13E513;
    color: black;
}

.border-blue {
    border: 1px solid #0000FF;
    transition: all .5s ease-in-out;
}

.border-blue:hover {
    background: #0000FF;
    color: white;
}

.border-pink {
    border: 1px solid #FF0D76;
    transition: all .5s ease-in-out;
}

.border-pink:hover {
    background: #FF0D76;
    color: white;
}

.border-yellow {
    border: 1px solid #ffff00;
    transition: all .5s ease-in-out;
}

.border-yellow:hover {
    background: #ffff00;
    color: black;
}

#projects {
    scroll-margin-top: 5vh;
}

.project-title {
    font-size: 4em;
    line-height: .9;
}

.project-card .card-body {
    cursor: pointer;
    border-radius: 10px 10px 0 0;
    transition: all 0.4s ease-in-out;
}

.project-card .card-footer {
    cursor: pointer;
    border-radius: 0 0 10px 10px;
    transition: all 0.4s ease-in-out;
}

.project-card:hover .card-body {
    background: #0c0f38;
    color:  #fff;
}

.project-card .card-body {
    height: 150px;
}

.modal-project .modal-content {
    max-height: 500px !important;
    overflow: auto;
}

#talks {
    scroll-margin-top: 5vh;
}

.talks img {
    transition: all .6s ease-in-out;
}

.talks img:hover {
    transform: scale(1.03);
}

#collaborative{
    scroll-margin-top: 0vh;
}

.collaborate-icon {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.collaborate-img {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.collaborate-img:hover {
    transform: scale(1.1) !important;
}

#stem-based
{
    scroll-margin-top: 0vh;
}

#stem-learning{
    scroll-margin-top: 5vh;
}

.learning img {
    cursor: pointer !important;
    transition: all 0.3s ease-in-out;
}

.learning img:hover {
    transform: scale(1.05) !important;
}

.stem-frame {
    top: -10%;
    left: -0%;
    width: 105%;
}

.stem-box {
    height: 400px;
    overflow: hidden;
}

.stem-box img{
    border: 0;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
    transition: all .3s ease-in-out;
}

.stem-box img:hover{
    transform: scale(1.1);
}

.stem-learning-logo {
    display: flex;
    height: 70px;
}

.stem-title {
    color: #26afe5;
    font-size: 1.5em;
}

.stem-content p {
    text-align: justify !important;
}

#maps {
    height: 100vh;
}

.maps-asset img {
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.maps-asset img:hover,
.maps-asset img:active {
    transform: scale(1.05);
    z-index: 1;
}

.maps-1 {
    position: absolute;
    width: 400px !important;
    top:0;
    left: 0;
    z-index: 1;
}

.maps1-overflow {
    position: absolute;
    cursor: pointer;
    width: 250px;
    height: 150px;
    /* background: rgba(255, 255, 255, 0.775); */
    top: 100px;
    left: 100px;
    z-index: 5;
    transform: rotate(40deg);
}

.maps1-overflow:hover ~ .maps-1 {
    transform: scale(1.05);
    z-index: 1;
}

.maps-2 {
    position: absolute;
    width: 330px !important;
    top:-100px;
    left: 234px;
    z-index: 2;
}

.maps2-overflow {
    position: absolute;
    cursor: pointer;
    width: 250px;
    height: 200px;
    /* background: rgba(255, 255, 255, 0.775); */
    top: 0px;
    left: 280px;
    z-index: 5;
    transform: rotate(40deg);
}

.maps2-overflow:hover ~ .maps-2 {
    transform: scale(1.05);
    z-index: 1;
}

.maps-3 {
    position: absolute;
    width: 500px !important;
    top:0px;
    left: 260px;
    z-index: 3;
}

.maps-3:hover {
    z-index: 2 !important;
}

.list-maps div {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.badge-maps {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 3px solid #e4e4e4;
    color: #fff;
    margin-right: 10px;
    transition: all .3s ease-in-out;
}

.maps1, .maps2, .maps3 {
    transition: all .3s ease-in-out;
}

.maps1.active,
.maps2.active,
.maps3.active {
    color : #f18221 !important;
    font-weight: bold;
}

.maps1.active .badge-maps,
.maps2.active .badge-maps,
.maps3.active .badge-maps {
    background: #f18221;
    border: 3px solid #f18221;
    color : #fff !important;
    font-weight: bold;
}

#form {
    scroll-margin-top: -1vh;
}

.form-embed {
    height: 70vh;
}

#supported-by {
    height: auto;
    margin: 50px 0;
}

.bronze .col {
    height: 90px;
}

.bronze .col img {
    height: 100%;
    object-fit: cover;
}

#supported-by img {
    transition: all 0.6s ease-in-out;
}

#supported-by img:hover {
    transform: scale(1.04);
}

.icon-img {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.icon-img img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.icon-desc {
    font-size: 16px;
}

.w-md-100 {
    width: 100%;
}

.swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation {
    background: #0c0f38ef;
}